name: MasterDeployCI
on:
  push:
    branches:
      - dev
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Dependencies
      run: npm install
    - name: Deploy to GH Pages
      run: |
        git config --global user.name "${user_name}"
        git config --global user.email "${user_email}"
        git remote set-url origin https://${github_token}@github.com/${repository}
    - name: Add CNAME for custom domain
      run: |
        echo "magmukendi.com" > CNAME
        npm run deploy
      env:
        user_name: "github-actions[bot]"
        user_email: 'github-actions[bot]@users.noreply.github.com'
        github_token: ${{ secrets.ACTIONS_DEPLOY_ACCESS_TOKEN }}
        repository: ${{ github.repository}}
    - name: Updating Domain
      run: echo "Update domain"
     